.saavutusedd{
    font-size: 60px;
    text-align: center;
    
} 
.container10 {
    display: flex;
    flex-direction: row;

}

.saavutus {
    font-size: 24px;
    width: 25%;
    background-color: red;
    margin: 10px;

}
@media screen and (max-width: 600px)
{ 
    .container10 {
        flex-direction: column;
    
    }

    .saavutus {
        margin: 0 auto;
        font-size: 24px;
        width: 75%;
        background-color: red;
        margin: 10px;
    
    }

    .saavutusedd{
        font-size: 36px;
        text-align: center;
        
    } 

}


.saavutus1{ 
 
    background-color: red;
 
} 
.saavutus2{

    background-color: green;
    
}
.saavutus3{

    background-color: blue;

}